---
http_interactions:
- request:
    method: get
    uri: https://<GITHUB_USERNAME>:<GITHUB_PASSWORD>@api.github.com/repos/<GITHUB_USERNAME>/burt-edmonson-trackerhub/commits/87cae6179107e7a0c220f3f83f23edd58cb54c21/comments
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4971'
      X-Ratelimit-Reset:
      - '1399584493'
      Etag:
      - '"bf9cb9fca9bf1e809329a5fb7e0079e9"'
      X-Github-Media-Type:
      - github.v3
    body:
      encoding: UTF-8
      string: '[{"url":"https://api.github.com/repos/<GITHUB_USERNAME>/burt-edmonson-trackerhub/comments/6260882","html_url":"https://github.com/<GITHUB_USERNAME>/burt-edmonson-trackerhub/commit/87cae6179107e7a0c220f3f83f23edd58cb54c21#commitcomment-6260882","id":6260882,"user":{"login":"<GITHUB_USERNAME>","id":5788989,"avatar_url":"https://avatars.githubusercontent.com/u/5788989?","gravatar_id":"7efdbfec6d8826127f16b24450d6052c","url":"https://api.github.com/users/<GITHUB_USERNAME>","html_url":"https://github.com/<GITHUB_USERNAME>","followers_url":"https://api.github.com/users/<GITHUB_USERNAME>/followers","following_url":"https://api.github.com/users/<GITHUB_USERNAME>/following{/other_user}","gists_url":"https://api.github.com/users/<GITHUB_USERNAME>/gists{/gist_id}","starred_url":"https://api.github.com/users/<GITHUB_USERNAME>/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/<GITHUB_USERNAME>/subscriptions","organizations_url":"https://api.github.com/users/<GITHUB_USERNAME>/orgs","repos_url":"https://api.github.com/users/<GITHUB_USERNAME>/repos","events_url":"https://api.github.com/users/<GITHUB_USERNAME>/events{/privacy}","received_events_url":"https://api.github.com/users/<GITHUB_USERNAME>/received_events","type":"User","site_admin":false},"position":null,"line":null,"path":null,"commit_id":"87cae6179107e7a0c220f3f83f23edd58cb54c21","created_at":"2014-05-08T19:49:41Z","updated_at":"2014-05-08T19:49:41Z","body":"Testing
        comment functionality"}]'
  recorded_at: Thu, 08 May 2014 21:20:13 GMT
[...]
