---
http_interactions:
- request:
    method: get
    uri: https://www.pivotaltracker.com/services/v5/projects/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Trackertoken:
      - "<TRACKER_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: |-
        [
          {
            "id": 1075500,
            "kind": "project",
            "name": "Burt and Edmonson's TrackerHub",
            "version": 26,
            "iteration_length": 1,
            "week_start_day": "Monday",
            "point_scale": "0,1,2,3",
            "point_scale_is_custom": false,
            "bugs_and_chores_are_estimatable": false,
            "enable_planned_mode": false,
            "enable_tasks": true,
            "time_zone": {
              "kind": "time_zone",
              "olson_name": "America/Los_Angeles",
              "offset": "-07:00"
            },
            "velocity_averaged_over": 3,
            "number_of_done_iterations_to_show": 12,
            "has_google_domain": false,
            "enable_incoming_emails": true,
            "initial_velocity": 10,
            "public": false,
            "atom_enabled": false,
            "start_time": "2014-05-05T07:00:00Z",
            "created_at": "2014-05-07T19:08:30Z",
            "updated_at": "2014-05-07T19:47:51Z",
            "account_id": 622224,
            "current_iteration_number": 1,
            "enable_following": true
          },
          {
            "id": 1060104,
            "kind": "project",
            "name": "Nathanael's User Authentication",
            "version": 99,
            "iteration_length": 1,
            "week_start_day": "Monday",
            "point_scale": "0,1,2,3",
            "point_scale_is_custom": false,
            "bugs_and_chores_are_estimatable": false,
            "enable_planned_mode": false,
            "enable_tasks": true,
            "time_zone": {
              "[...]
- request:
    method: get
    uri: https://www.pivotaltracker.com/services/v5/projects/1075500/stories
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Trackertoken:
      - "<TRACKER_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Tracker-Project-Version:
      - '26'
      X-Tracker-Pagination-Total:
      - '7'
      X-Tracker-Pagination-Offset:
      - '0'
      X-Tracker-Pagination-Limit:
      - '100'
      X-Tracker-Pagination-Returned:
      - '7'
    body:
      encoding: UTF-8
      string: |-
        [
          {
            "kind": "story",
            "id": 70885252,
            "created_at": "2014-05-06T07:00:00Z",
            "updated_at": "2014-05-08T21:18:18Z",
            "estimate": 2,
            "story_type": "feature",
            "name": "As a user, I can view all of my projects",
            "description": "Given I'm on the homepage\nWhen I click on \"View Projects\"\nI see a list of all projects\n\n---\nUse your own API token. Make sure you don't commit it (dotenv-rails). (https://www.pivotaltracker.com/help/api#Basics)",
            "current_state": "rejected",
            "requested_by_id": 1256928,
            "project_id": 1075500,
            "url": "https://www.pivotaltracker.com/story/show/70885252",
            "owner_ids": [
              1256928
            ],
            "labels": [

            ],
            "owned_by_id": 1256928
          },
          {
            "kind": "story",
            "id": 70885254,
            "created_at": "2014-05-06T07:00:00Z",
            "updated_at": "2014-05-08T21:17:10Z",
            "estimate": 1,
            "story_type": "feature",
            "name": "As a user, I can view all of the stories for a project",
            "description": "Given I go to the projects page\nWhen I click on a project\nI see a list of all of that projects stories",
            "current_state": "re[...]
- request:
    method: get
    uri: https://www.pivotaltracker.com/services/v5/projects/1075500/stories/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Trackertoken:
      - "<TRACKER_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Tracker-Project-Version:
      - '26'
      X-Tracker-Pagination-Total:
      - '7'
      X-Tracker-Pagination-Off[...]
- request:
    method: get
    uri: https://www.pivotaltracker.com/services/v5/projects/1075500/stories/70885252/comments/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Trackertoken:
      - "<TRACKER_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Tracker-Project-Version:
      - '26'
    body:
      encoding: UTF-8
      string: |-
        [
          {
            "kind": "comment",
            "id": 68661850,
            "story_id": 70885252,
            "text": "This is a test comment on the first story",
            "person_id": 534749,
            "created_at": "2014-05-06T00:00:00Z",
            "updated_at": "2014-05-07T19:08:52Z"
          },
          {
            "kind": "comment",
            "id": 68661852,
            "story_id": 70885252,
            "text": "This is a second test comment on the first story",
            "person_id": 534749,
            "created_at": "2014-05-06T00:00:00Z",
            "updated_at": "2014-05-07T19:08:52Z"
          },
          {
            "kind": "comment",
            "id": 68672130,
            "story_id": 70885252,
            "text": "Commit by Nathanael Burt\nhttps://github.com/<GITHUB_USERNAME>/burt-edmonson-trackerhub/commit/87cae6179107e7a0c220f3f83f23edd58cb54c21\n\n[#70885252] displays the names of tracker projects\n\nSigned-off-by: Kaylee Edmonson <kaylee.edmonson@gmail.com>",
            "person_id": 1256928,
            "created_at": "2014-05-07T20:27:15Z",
            "updated_at": "2014-05-07T20:27:15Z",
            "commit_identifier": "87cae6179107e7a0c220f3f83f23edd58cb54c21",
            "commit_type": "github"
          },
          {
            "kind": "comment",
            "id": 68686050,
            "story_id": 70885252,
            "text": "Heroku link in readme please so I can do acceptance.",
            "person_id": 1234268,
            "created_at": "2014-05-07T22:34:15Z",
            "updated_at": "2014-05-07T22:34:15Z"
          },
          {
            "kind": "comment",
            "id": 68788436,
            "story_id": 70885252,
            "text": "It says \"Tracker Stories\" instead of Projects\n",
            "person_id": 1308466,
            "created_at": "2014-05-08T21:18:18Z",
            "updated_at": "2014-05-08T21:18:18Z"
          }
        ]
  recorded_at: Thu, 08 May 2014 21:20:04 GMT
[...]
- request:
    method: get
    uri: https://<GITHUB_USERNAME>:<GITHUB_PASSWORD>@api.github.com/repos/<GITHUB_USERNAME>/burt-edmonson-trackerhub/commits/87cae6179107e7a0c220f3f83f23edd58cb54c21/comments
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4973'
      X-Ratelimit-Reset:
      - '1399584493'
      Etag:
      - '"bf9cb9fca9bf1e809329a5fb7e0079e9"'
      X-Github-Media-Type:
      - github.v3
    body:
      encoding: UTF-8
      string: '[{"url":"https://api.github.com/repos/<GITHUB_USERNAME>/burt-edmonson-trackerhub/comments/6260882","html_url":"https://github.com/<GITHUB_USERNAME>/burt-edmonson-trackerhub/commit/87cae6179107e7a0c220f3f83f23edd58cb54c21#commitcomment-6260882","id":6260882,"user":{"login":"<GITHUB_USERNAME>","id":5788989,"avatar_url":"https://avatars.githubusercontent.com/u/5788989?","gravatar_id":"7efdbfec6d8826127f16b24450d6052c","url":"https://api.github.com/users/<GITHUB_USERNAME>","html_url":"https://github.com/<GITHUB_USERNAME>","followers_url":"https://api.github.com/users/<GITHUB_USERNAME>/followers","following_url":"https://api.github.com/users/<GITHUB_USERNAME>/following{/other_user}","gists_url":"https://api.github.com/users/<GITHUB_USERNAME>/gists{/gist_id}","starred_url":"https://api.github.com/users/<GITHUB_USERNAME>/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/<GITHUB_USERNAME>/subscriptions","organizations_url":"https://api.github.com/users/<GITHUB_USERNAME>/orgs","repos_url":"https://api.github.com/users/<GITHUB_USERNAME>/repos","events_url":"https://api.github.com/users/<GITHUB_USERNAME>/events{/privacy}","received_events_url":"https://api.github.com/users/<GITHUB_USERNAME>/received_events","type":"User","site_admin":false},"position":null,"line":null,"path":null,"commit_id":"87cae6179107e7a0c220f3f83f23edd58cb54c21","created_at":"2014-05-08T19:49:41Z","updated_at":"2014-05-08T19:49:41Z","body":"Testing
        comment functionality"}]'
  recorded_at: Thu, 08 May 2014 21:20:06 GMT
[...]
