---
http_interactions:
- request:
    method: get
    uri: https://www.pivotaltracker.com/services/v5/projects/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Trackertoken:
      - "<TRACKER_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: |-
        [
          {
            "id": 1075500,
            "kind": "project",
            "name": "Burt and Edmonson's TrackerHub",
            "version": 26,
            "iteration_length": 1,
            "week_start_day": "Monday",
            "point_scale": "0,1,2,3",
            "point_scale_is_custom": false,
            "bugs_and_chores_are_estimatable": false,
            "enable_planned_mode": false,
            "enable_tasks": true,
            "time_zone": {
              "kind": "time_zone",
              "olson_name": "America/Los_Angeles",
              "offset": "-07:00"
            },
            "velocity_averaged_over": 3,
            "number_of_done_iterations_to_show": 12,
            "has_google_domain": false,
            "enable_incoming_emails": true,
            "initial_velocity": 10,
            "public": false,
            "atom_enabled": false,
            "start_time": "2014-05-05T07:00:00Z",
            "created_at": "2014-05-07T19:08:30Z",
            "updated_at": "2014-05-07T19:47:51Z",
            "account_id": 622224,
            "current_iteration_number": 1,
            "enable_following": true
          },
          {
            "id": 1060104,
            "kind": "project",
            "name": "Nathanael's User Authentication",
            "version": 99,
            "iteration_length": 1,
            "week_start_day": "Monday",
            "point_scale": "0,1,2,3",
            "point_scale_is_custom": false,
            "bugs_and_chores_are_estimatable": false,
            "enable_planned_mode": false,
            "enable_tasks": true,
            "time_zone": {
              "[...]
- request:
    method: get
    uri: https://www.pivotaltracker.com/services/v5/projects/1071248/stories
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Trackertoken:
      - "<TRACKER_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Tracker-Project-Version:
      - '94'
      X-Tracker-Pagination-Total:
      - '16'
      X-Tracker-Pagination-Offset:
      - '0'
      X-Tracker-Pagination-Limit:
      - '100'
      X-Tracker-Pagination-Returned:
      - '16'
    body:
      encoding: UTF-8
      string: |-
        [
          {
            "kind": "story",
            "id": 70484714,
            "created_at": "2014-04-30T23:21:44Z",
            "updated_at": "2014-04-30T23:23:32Z",
            "accepted_at": "2014-04-30T23:24:45Z",
            "story_type": "chore",
            "name": "Create github repo and heroku staging",
            "current_state": "accepted",
            "requested_by_id": 1256928,
            "project_id": 1071248,
            "url": "https://www.pivotaltracker.com/story/show/70484714",
            "owner_ids": [
              1256928
            ],
            "labels": [

            ],
            "owned_by_id": 1256928
          },
          {
            "kind": "story",
            "id": 70484780,
            "created_at": "2014-04-30T23:22:43Z",
            "updated_at": "2014-05-07T21:42:50Z",
            "estimate": 1,
            "story_type": "feature",
            "name": "Create homepage",
            "description": "Should have:\n\n1. Welcome to OneFeed\n1. OneFeed is the logo and links to the homepage\n1. Login with Facebook text\n1. Login with Twitter text\n1. Should have images of Facebook/Twitter under their login messages\n",
            "current_state": "delivered",
            "requested_by_id": 1256928,
            "project_id": 1071248,
            "url": "https://www.pivotaltracker.com/story/show/70484780",
            "owner_ids": [
              1256928
            ],
            "labels": [

[...]
- request:
    method: get
    uri: https://www.pivotaltracker.com/services/v5/projects/1071248/stories/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Trackertoken:
      - "<TRACKER_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Tracker-Project-Version:
      - '94'
      X-Tracker-Pagination-Total:
      - '16'
      X-Tracker-Pagination-Of[...]
- request:
    method: get
    uri: https://www.pivotaltracker.com/services/v5/projects/1071248/stories/70484714/comments/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Trackertoken:
      - "<TRACKER_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Tracker-Project-Version:
      - '94'
    body:
      encoding: UTF-8
      string: |-
        [

        ]
  recorded_at: Thu, 08 May 2014 21:20:08 GMT
- request:
    method: get
    uri: https://www.pivotaltracker.com/services/v5/projects/1071248/stories/70484780/comments/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Trackertoken:
      - "<TRACKER_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Tracker-Project-Version:
      - '94'
    body:
      encoding: UTF-8
      string: |-
        [
          {
            "kind": "comment",
            "id": 68681214,
            "story_id": 70484780,
            "text": "Awesome homepage!",
            "person_id": 1256928,
            "created_at": "2014-05-07T21:42:13Z",
            "updated_at": "2014-05-07T21:42:13Z"
          },
          {
            "kind": "comment",
            "id": 68681298,
            "story_id": 70484780,
            "text": "Agreed!",
            "person_id": 1256928,
            "created_at": "2014-05-07T21:42:50Z",
            "updated_at": "2014-05-07T21:42:50Z"
          }
        ]
  recorded_at: Thu, 08 May 2014 21:20:09 GMT
[...]
- request:
    method: get
    uri: https://www.pivotaltracker.com/services/v5/projects/1071248/stories/70613490/comments/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Trackertoken:
      - "<TRACKER_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Tracker-Project-Version:
      - '94'
    body:
      encoding: UTF-8
      string: |-
        [

        ]
  recorded_at: Thu, 08 May 2014 21:20:12 GMT
recorded_with: VCR 2.9.0
