<h1>Tracker Stories</h1>
<% @tracker_stories.each do |story| %>
  <ul>
    <li><%= story['name'] %></li>
  </ul>
<% end %>

<% if @tracker_comments != nil %>
  <h1>Tracker Comments</h1>
  <% @tracker_comments.each do |comment| %>
    <ul>
      <li><%= comment["text"] %></li>
    </ul>
  <% end %>
<% end %>

<% if @github_comments != nil %>
  <h1>GitHub Comments</h1>
  <ul>
    <% @github_comments.each do |comment| %>
      <li><%= comment %></li>
    <% end %>
  </ul>
<% end %>
